@import '~@angular/material/theming';

.company-nav-button {
    margin-right: 16px;
    background-color: transparent;
}

.company-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.company-nav-button-active {
    background-color: rgba(0, 0, 0, 0.1);
}

.company-toolbar {
    @include mat-elevation(2);
    padding: 0 36px;
    z-index: 2;
}

.company-toolbar-logo {
    height: auto;
    width: 100%;
    object-fit: cover;
    display: block;
}

.company-logo-container {
    margin-right: 16px;
    flex: 0 0 auto;
    border-radius: 50%;
    overflow: hidden;
    height: 40px;
    width: 40px;
    background-color: white;
    display: flex;
}

.company-details {
    margin-right: 38px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.company-toolbar-name {
    font-size: 16px;
}

.company-toolbar-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}
