@import "~src/custom-theme";
@import '~@angular/material/theming';

$accent: map-get($custom-theme, accent);

:host {
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    padding: 32px;
    display: block;
}

h3, p {
    margin: unset;
}

.no-results-card {
    box-sizing: border-box;
    @include mat-elevation(3);
}

.no-results-message {
    margin-bottom: 16px;
    font-size: 34px;
    font-weight: normal;
    letter-spacing: 0.25px;
}

.no-results-subtitle {
    color: mat-color($accent);
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 0.15px;
}

.error-message-actions {
    margin-bottom: 16px;
    display: flex;
    flex-wrap: wrap;
}

.error-message-divider {
    display: flex;
    justify-content: center;
    height: 16px;
}

.error-message-text {
    margin-left: 16px;
}
