<mat-card>
    <mat-card-header>

        <div
             mat-card-avatar
             class="account-avatar-container">

            <mat-icon
                *ngIf="!(account.profilePictureUrl || account.profilePicturePreview)"
                class="account-avatar"
                inline="true"
                color="accent">
                account_circle
            </mat-icon>

            <img mat-card-avatar
                 class="account-profile-image"
                 *ngIf="account.profilePictureUrl || account.profilePicturePreview"
                 [src]="profilePicture">

            <div (click)="selectImage()" *ngIf="uploadProgress === undefined" class="account-avatar-upload-container">
                <mat-icon
                    inline="true"
                    class="account-avatar-upload">
                    camera_alt
                </mat-icon>
            </div>
            <div *ngIf="uploadProgress !== undefined" class="progress">
                <mat-progress-spinner [value]="uploadProgress" color="primary" diameter="35"
                                      strokeWidth="3"></mat-progress-spinner>
            </div>

        </div>

        <mat-card-title class="account-name">
            {{account.fullName}}
        </mat-card-title>

        <mat-card-subtitle>
            {{account.email}}
        </mat-card-subtitle>

    </mat-card-header>
</mat-card>

