<div class="checkout-table-wrapper">
    <mat-card>
        <table #checkoutTable mat-table [dataSource]="coupons" class="checkout-table">
            <ng-container matColumnDef="imageUrl">
                <th mat-header-cell *matHeaderCellDef> Image</th>
                <td mat-cell *matCellDef="let coupon">
                    <img class="image-thumbnail" [src]="coupon.imageUrl ? endpoint.res + coupon.imageUrl : ''"
                         alt="">
                </td>
            </ng-container>
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title</th>
                <td mat-cell *matCellDef="let coupon"><span class="text-truncate">{{coupon.title}}</span></td>
            </ng-container>
            <ng-container matColumnDef="company">
                <th mat-header-cell *matHeaderCellDef> Company</th>
                <td mat-cell *matCellDef="let coupon"><span class="text-truncate">{{coupon.company.name}}</span></td>
            </ng-container>
            <ng-container matColumnDef="price">
                <th mat-header-cell *matHeaderCellDef> Price</th>
                <td mat-cell *matCellDef="let coupon"> {{coupon.price}} </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <mat-card-actions>
            <div class="checkout-summery">
                <div>
                    <p class="checkout-label">Total amount: </p>
                    <p>{{totalAmount}}</p>
                </div>
                <div>
                    <div *ngIf="!purchased else remaining">
                        <p class="checkout-label">Current balance: </p>
                        <p>{{currentBalance}}</p>
                    </div>
                    <ng-template #remaining>
                        <p class="checkout-label">Remaining balance: </p>
                        <p>{{remainingBalance}}</p>
                    </ng-template>
                    <div *ngIf="isEnoughCredits">
                        <div class="checkout-divider">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="checkout-message-row">
                            <mat-icon class="checkout-icon checkout-icon--red">error</mat-icon>
                            <p class="checkout-error-message">Not enough credits to complete the purchase.</p>
                        </div>
                    </div>
                    <div *ngIf="purchased">
                        <div class="checkout-divider">
                            <mat-divider></mat-divider>
                        </div>
                        <div class="checkout-message-row">
                            <mat-icon class="checkout-icon checkout-icon--green">check_circle_outline</mat-icon>
                            <p>The purchase has been completed successfully.</p>
                        </div>
                    </div>
                </div>
                <div class="checkout-divider">
                    <mat-divider></mat-divider>
                </div>
                <div class="checkout-actions-row">
                    <div class="checkout-action">
                        <button *ngIf="!purchased else viewCoupons" [disabled]="purchasing || isEnoughCredits" (click)="checkout()"
                                mat-raised-button color="primary">
                            Purchase
                        </button>
                        <ng-template #viewCoupons>
                            <button
                                mat-raised-button
                                color="primary"
                                routerLink="/dashboard/customer/coupons">
                                View coupons
                            </button>
                        </ng-template>
                        <button
                            *ngIf="isEnoughCredits"
                            mat-raised-button
                            color="primary"
                            routerLink="/dashboard/customer/credits">
                            Purchase credits
                        </button>
                    </div>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>
</div>

