@import "~src/custom-theme";
$warn: map-get($custom-theme, warn);

.discard-title{
    color: mat-color($warn);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.15px;
}

.discard-actions {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    text-align: center;
    padding-bottom: 15px;
}

.discard-actions button {
    margin-right: 6px;
    flex: 0 1 auto;
    height: 40px;
}

.discard-dialog-content{
    margin: 10px 0;
    padding: 0;
}
