:host {
    min-height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 32px;
    display: flex;
    flex-direction: column;
}

.account-form {
    padding: 22px 16px;
    margin: auto;
}

.error-card {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
