:host {
    display: block;
    flex: 1 0 auto;
}

nav {
    background-color: white;
    position: sticky;
    top: 0;
    z-index: 2;
}

.admin-dashboard-content {
    flex: 1 0 auto;
    min-height: 90%;
    width: 100%;
    display: flex;
}
