@import "~src/custom-theme";
@import '~@angular/material/theming';

$primary: map-get($custom-theme, primary);
$accent: map-get($custom-theme, accent);

.profile-circle {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-shadow: unset;
    overflow: hidden;
}

.avatar {
    flex: 0 1 auto;
    display: block;
    object-fit: cover;
    height: 40px;
}

.mat-fab:not([disabled]):active:not([class*=mat-elevation-z]), .mat-mini-fab:not([disabled]):active:not([class*=mat-elevation-z]) {
    box-shadow: unset;
    @include mat-elevation(3);
}

.profile-icon {
    font-size: 38px;
}

a {
    font-weight: 500;
    font-size: 16px;
}

.profile-details {
    padding: 12px 16px 16px 16px;
}

.profile-details-main {
    margin-bottom: 16px;
}

.profile-details-secondary {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}

.profile-details--row {
    margin-bottom: 8px;
}

.profile-details-title {
    color: mat-color($primary);
    font-size: 24px;
    font-weight: normal;
    letter-spacing: 0;
}

.profile-details-subtitle {
    color: rgba(0, 0, 0, 0.54);
    font-size: 14px;
}

.profile-details-icon {
    margin-right: 8px;
    font-size: 16px;
    height: 16px;
    width: 16px;
    user-select: none;
}

.profile-details-icon-subtitle {
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.profile-details-icon-subtitle:not(:last-child) {
    margin-right: 8px;
}

.capitalize {
    text-transform: capitalize;
}
