<div class="main">
    <div class="list-base">
        <div class="mat-typography header">
            <h2 *ngIf="categories && !categories?.length">No categories found</h2>
            <div *ngIf="categories !== undefined" @fadeIn>
                <button
                    matTooltip="Refresh"
                    (click)="refreshList()"
                    matTooltipClass="custom-tooltip"
                    matTooltipShowDelay="250"
                    mat-icon-button>
                    <mat-icon>cached</mat-icon>
                </button>
                <button [disabled]="!!service.add" (click)="openSidenavAdd()"
                        mat-flat-button
                        color="primary">
                    <mat-icon>add_box</mat-icon>
                    <span>New</span>
                </button>
            </div>
        </div>
        <div *ngIf="null === categories" class="mat-typography header">
            <h2>There was an error loading the categories</h2>
            <button (click)="retryAllCategories()" mat-raised-button color="primary">
                <mat-icon>refresh</mat-icon>
                <span>Retry</span>
            </button>
        </div>
        <app-category-list
            *ngIf="categories !== undefined else spinner" @fadeOut
            [categories]="categories"
            [locked]="lockDeleteRow"
            (delete)="deleteCategoryFromList($event)"
            (selectOrEdit)="editCategory($event)">
        </app-category-list>
    </div>
</div>
<div #sidenav class="sidenav">
    <nav color="primary" mat-tab-nav-bar style="min-width: 300px">
        <a (click)="openSidenavAdd()" mat-tab-link [active]="!!service.add">New</a>
        <a mat-tab-link [active]="!!service.edit" [disabled]="!service.edit">Edit</a>
        <div class="drawer-close-btn-wrapper">
            <button mat-icon-button
                    matTooltip="Close"
                    matTooltipClass="custom-tooltip"
                    matTooltipShowDelay="400"
                    (click)="closeSidenavEdit()"
                    color="accent">
                <mat-icon style="font-weight: bold">
                    clear
                </mat-icon>
            </button>
        </div>
    </nav>
    <section class="form-container">
        <app-category-form [processing]="processing"
                           [process]="process"
                           (save)="saveCategory($event)"
                           (update)="updateCategory($event)"
                           (delete)="deleteCategoryFromEdit($event)"
                           *ngIf="!!service.category else spinner" @fadeIn
                           [mode]="formMode"
                           [category]="service.category"></app-category-form>
        <mat-progress-bar [mode]="processing ? 'indeterminate' : 'query'" *ngIf="processing || querying"
                          @fadeOut></mat-progress-bar>
    </section>
</div>
<button class="fab fab--white"
        [class.show-fab]="showFab"
        (click)="openSidenavAdd()"
        matTooltip="Create new category"
        matTooltipClass="custom-tooltip"
        matTooltipShowDelay="500"
        mat-fab color="accent">
    <mat-icon>add</mat-icon>
</button>
<ng-template #spinner>
    <div class="spinner">
        <mat-spinner></mat-spinner>
    </div>
</ng-template>
</ng-template>
