<div class="main">
    <div class="list-base">
        <div *ngIf="categories === undefined" class="spinner-container">
            <mat-spinner></mat-spinner>
        </div>
        <app-category-list [categories]="categories" (selectOrEdit)="editCategory($event)">
        </app-category-list>
    </div>
</div>
<div #sidenav class="sidenav">
    <nav color="primary" mat-tab-nav-bar style="min-width: 300px">
        <a (click)="openSidenavAdd()" mat-tab-link [active]="!!service.add">New</a>
        <a mat-tab-link [active]="!!service.edit" [disabled]="!service.edit">Edit</a>
        <div class="drawer-close-btn-wrapper">
            <button mat-icon-button
                    matTooltip="Close"
                    matTooltipClass="custom-tooltip"
                    matTooltipShowDelay="400"
                    (click)="closeSidenavEdit()"
                    color="accent">
                <mat-icon style="font-weight: bold">
                    clear
                </mat-icon>
            </button>
        </div>
    </nav>
    <section class="form-container">
        <app-category-form *ngIf="!!service.category" [mode]="formMode"
                           [category]="service.category"></app-category-form>
        <div *ngIf="!service.category"></div>
    </section>
</div>
<button class="fab"
        [class.show-fab]="showFab"
        (click)="openSidenavAdd()"
        matTooltip="Create new category"
        matTooltipClass="custom-tooltip"
        matTooltipShowDelay="500"
        mat-fab color="accent">
    <mat-icon>add</mat-icon>
</button>
