@import '~@angular/material/theming';

.toolbar {
    position: sticky;
    top: 0;
    left: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    height: 65px;
    @include mat-elevation(2);
    z-index: 10;
}

.container {
    flex: 0 1 auto;
    padding: 15px 0;
}

.container > * {
    display: inline-block;
    vertical-align: middle;
}

.start > * {
    margin: 0 15px 0 0;
}

.center > * {
    margin: 15px 0;
}

.center {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-box {
    width: 100%;
}

.end > * {
    margin: 0 10px 0 10px;
}





