.admin-edit-company-card {
    width: 80%;
    margin-bottom: 30px;
}

.admin-edit-company-card-content {
    margin: 0 16px;
}

.admin-edit-company-card-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: min-content;
}

.admin-edit-company-content {
    width: inherit;
    margin: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.admin-edit-company-name {
    max-width: 30%;
}

.admin-edit-company-actions {
    margin: 10px 16px;
    display: flex;
    justify-content: flex-start;
}

.admin-edit-company-buttons {
    margin-right: 16px;
}

mat-form-field {
    margin-bottom: 16px;
}

.admin-edit-company-title {
    margin-bottom: 16px;
}
