a:first-child {
  margin-left: -4px;
}

.admin-toolbar {
    display: inline-flex;
    align-items: center;
}

.admin-nav-button {
    margin-right: 16px;
    background-color: transparent;
}

.admin-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.admin-nav-button-active {
    background-color: rgba(0, 0, 0, 0.1);
}

.mat-toolbar-single-row {
    padding: 0 32px;
}
