@import '~@angular/material/theming';

:host {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

a:first-child {
    margin-left: -4px;
}

.admin-toolbar {
    position: relative;
    z-index: 3;
    display: inline-flex;
    align-items: center;
}

.mat-toolbar {
    @include mat-elevation(2);
}

.admin-nav-button {
    margin-right: 16px;
    background-color: transparent;
}

.admin-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.admin-nav-button-active {
    background-color: rgba(0, 0, 0, 0.1);
}

.mat-toolbar-single-row {
    padding: 0 32px;
}
