.admin-menu {
    height: 90px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.admin-menu-links {
    margin: 0 30px;
}

.admin-nav-button {
    margin-right: 16px;
    background-color: transparent;
}

.admin-nav-button:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.admin-nav-button-active {
    background-color: rgba(0, 0, 0, 0.1);
}
