<ul>
    <li #listRow
        matRipple
        [matRippleTrigger]="listContent"
        class="list-row"
        (click)="selectRow(listRow);"
        *ngFor="let category of categories; let i=index" @listMod>
        <div #listContent class="list-content" (click)="edit(category, i)">
            <div class="list-text" *ngIf="category?.name else noName">{{category.name}}</div>
            <ng-template #noName>
                <i>Unnamed category</i>
            </ng-template>
        </div>
        <div class="list-buttons"
             (mousedown)="setActiveRow(listRow)"
             (mouseup)="removeActiveRow(listRow)">
            <button
                (click)="edit(category, i)"
                [disabled]="!category?.id || i === lockRow && locked"
                matTooltipShowDelay="600"
                matTooltip="Edit"
                matTooltipClass="custom-tooltip"
                color="accent"
                mat-icon-button>
                <mat-icon>edit</mat-icon>
            </button>
            <button
                (click)="list(category)"
                [disabled]="!category?.id || i === lockRow && locked"
                matTooltipShowDelay="600"
                matTooltip="Coupons of category"
                matTooltipClass="custom-tooltip"
                color="accent"
                mat-icon-button>
                <mat-icon>list</mat-icon>
            </button>
            <button
                (click)="delete(category, i)"
                [disabled]="!category?.id || i === lockRow && locked"
                matTooltipShowDelay="600"
                matTooltip="Delete"
                matTooltipClass="custom-tooltip"
                color="warn"
                mat-icon-button>
                <mat-icon>delete</mat-icon>
            </button>
        </div>
    </li>
</ul>
