@import "~src/custom-theme";

$primary: map-get($custom-theme, primary);
$accent: map-get($custom-theme, accent);

.customer-coupons-container {
    padding: 32px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    min-height: 100%;
    box-sizing: border-box;
    flex-direction: column;
}

.customer-coupons-card {
    box-sizing: border-box;
    width: 100%;
}

.customer-coupons-content {
    margin: 0 16px;
}

.customer-coupons-item {
    margin-right: 16px;
    margin-bottom: 16px;
}

.customer-coupons-title {
    color: mat-color($primary);
}

.customer-coupons-coupon {
    margin: 20px;
    width: min-content;
    display: block;
    max-width: 300px;
}

.customer-coupons-table {
    width: 100%;
    margin: auto;
}

.mat-row {
    height: 104px;
}

.mat-header-cell {
    padding: 8px;
    color: mat-color($accent);
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
}

.mat-cell {
    height: 75px;
    padding: 8px;
    font-size: 16px;
}

.image-thumbnail {
    height: 60px;
    width: auto;
    margin: 12px 0;
}

.mat-column-imageUrl {
    width: 10%;
}

.mat-column-description {
    width: 30%;
}

.mat-column-company {
    width: 20%;
}

.mat-column-title {
    width: 30%;
}

.mat-column-category {
    width: 10%;
}

.no-coupons-message {
    width: 100%;
    margin: 16px;
}

.no-coupons-message-text {
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0.25px;
    width: fit-content;
    margin: auto;
    padding: 8px;
}

.text-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}

.action-btn {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mat-row:hover {
    background-color: mat-color($accent, 0.06);
}
