@import '~@angular/material/theming';
@import "~src/custom-theme";

$primary: map-get($custom-theme, primary);
$accent: map-get($custom-theme, accent);

:host {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.all-accounts-container {
    display: flex;
    width: 100%;
    padding: 32px;
    box-sizing: border-box;
    flex: 1 0 auto;
    flex-direction: column;
}

p {
    margin: unset;
}

.mat-card {
    @include mat-elevation(3);
}

.mat-row {
    height: 70px;
}

.mat-row:hover {
    background-color: mat-color($accent, 0.06);
}

.mat-header-cell {
    color: mat-color($accent);
    font-size: .875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: .0071428571em;
    padding: 12px;
    box-sizing: border-box;
}

.mat-cell {
    padding: 12px;
    font-size: 16px;
    box-sizing: border-box;
    height: 75px;
}

.mat-header-profile {
    text-align: center;
}

.mat-column-profile {
    text-align: center;
    width: 124px;
}

.mat-column-email {
    width: 25%;
}

.mat-column-lastName, .mat-column-firstName, .mat-column-userType, .mat-column-credits {
    width: 16%;
}

.all-accounts-card {
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
}

.accounts-table {
    width: 100%;
}

.text-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
    -webkit-line-clamp: 2;
}

.controls {
    display: none;
    justify-content: center;
    box-sizing: border-box;
}

.controls button:not(:last-child){
    margin-right: 8px;
}

.mat-row:hover .controls {
    display: inline-flex;
}

.mat-row:hover .profile-image {
    display: none;
}

.messages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    margin: 16px;
}

.no-accounts-message {
    box-sizing: border-box;
    width: 100%;
    padding: 16px;
}

.no-accounts-message-text {
    width: fit-content;
    margin: auto;
    padding: 8px;
}

.capitalize {
    text-transform: capitalize;
}

.profile-image-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-image {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    overflow: hidden;
}

.profile-image img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.account-circle {
    user-select: none;
    font-size: 55px;
    height: 55px;
    width: 55px;
}
