<div class="all-accounts-container">
    <mat-card class="all-accounts-card">
        <table #accountsTable mat-table [dataSource]="accounts" class="accounts-table">
            <ng-container matColumnDef="profile">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let account">
                    <div class="profile-image-container">
                        <div class="profile-image">
                            <img *ngIf="account?.profilePictureUrl else placeholder" [src]="generateUrl(account?.profilePictureUrl)">
                            <ng-template #placeholder>
                                <mat-icon color="accent" class="account-circle">account_circle</mat-icon>
                            </ng-template>
                        </div>
                    </div>
                    <div class="controls">
                        <a
                            matTooltip="Edit"
                            matTooltipClass="custom-tooltip"
                            matTooltipPosition="above"
                            routerLink="../edit/{{account.id}}"
                            color="accent"
                            mat-icon-button>
                            <mat-icon>edit</mat-icon>
                        </a>
                        <button
                            matTooltip="Delete"
                            matTooltipClass="custom-tooltip"
                            matTooltipPosition="above"
                            color="warn"
                            (click)="deleteAccount(account)"
                            mat-icon-button>
                            <mat-icon>clear</mat-icon>
                        </button>
                    </div>
                </td>
            </ng-container>
            <ng-container matColumnDef="email">
                <th mat-header-cell *matHeaderCellDef>Email</th>
                <td mat-cell *matCellDef="let account">
                    <div class="email-text text-truncate">{{account.email}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="firstName">
                <th mat-header-cell *matHeaderCellDef>First Name</th>
                <td mat-cell
                    *matCellDef="let account"> {{account?.firstName}}</td>
            </ng-container>
            <ng-container matColumnDef="lastName">
                <th mat-header-cell *matHeaderCellDef>Last Name</th>
                <td mat-cell
                    *matCellDef="let account"> {{account?.lastName}}</td>
            </ng-container>
            <ng-container matColumnDef="userType">
                <th mat-header-cell *matHeaderCellDef>User Type</th>
                <td mat-cell
                    *matCellDef="let account">
                    <div class="capitalize">{{account?.user?.type}}</div>
                </td>
            </ng-container>
            <ng-container matColumnDef="credits">
                <th mat-header-cell *matHeaderCellDef>Credits</th>
                <td mat-cell
                    *matCellDef="let account"> {{account?.credit | number: '1.2-2'}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
        <div class="messages-container">
            <div class="no-accounts-message" *ngIf="accounts?.length === 0">
                <p class="no-accounts-message-text mat-body">
                    No other accounts in the system.
                </p>
            </div>
            <div class="no-coupons-message" *ngIf="!accounts">
                <p class="no-coupons-message-text mat-h3">
                    There was an error loading the accounts, please try reloading the page.
                </p>
            </div>
        </div>
    </mat-card>
</div>
