<mat-accordion multi="false">

    <mat-expansion-panel
        #epPersonalInfo
        (closed)="displayDialog()"
        [disabled]="(activePanel !== NO_ACTIVE_PANEL && activePanel !== PERSONAL_INFO)"
        hideToggle expanded="true">

        <mat-expansion-panel-header>

            <mat-panel-title class="account-panel-title">
                Personal Info
            </mat-panel-title>

            <mat-icon
                class="account-panel-icon"
                color="accent">
                account_circle
            </mat-icon>

        </mat-expansion-panel-header>
        <form [formGroup]="personalInfo">
            <div class="account-row">
                <mat-form-field
                    color="primary"
                    class="account-input outline-input"
                    appearance="outline"
                    floatLabel="auto">
                    <mat-label>First Name</mat-label>
                    <mat-error *ngIf="!firstName.valid">
                        <span *ngIf="firstName.errors?.required">This field is required</span>
                        <span *ngIf="firstName.errors?.minlength">The name is too short</span>
                        <span *ngIf="firstName.errors?.maxlength">The name is too long</span>
                    </mat-error>
                    <input
                        matInput
                        formControlName="firstName"
                        type="text">

                </mat-form-field>

                <mat-form-field
                    color="primary"
                    class="account-input"
                    appearance="outline"
                    floatLabel="auto">
                    <mat-label>Last Name</mat-label>
                    <input
                        matInput
                        formControlName="lastName"
                        type="text">
                    <mat-error *ngIf="!lastName.valid">
                        <span *ngIf="lastName.errors?.required">This field is required</span>
                        <span *ngIf="lastName.errors?.minlength">The name is too short</span>
                        <span *ngIf="lastName.errors?.maxlength">The name is too long</span>
                    </mat-error>
                </mat-form-field>
            </div>

            <mat-action-row>
                <button [disabled]="(!personalInfo.valid || saveInProgress || activePanel !== PERSONAL_INFO)"
                        (click)="savePersonalInfo()" mat-flat-button color="primary"
                        type="button">Save
                </button>
                <button [disabled]="(saveInProgress || activePanel !== PERSONAL_INFO)" (click)="cancel()"
                        mat-flat-button type="button">
                    Cancel
                </button>
            </mat-action-row>
        </form>
    </mat-expansion-panel>

    <mat-expansion-panel
        #epCredentials hideToggle
        (closed)="displayDialog()"
        [disabled]="(activePanel !== NO_ACTIVE_PANEL && activePanel !== CREDENTIALS)">

        <mat-expansion-panel-header>

            <mat-panel-title class="account-panel-title">
                Credentials
            </mat-panel-title>

            <mat-icon class="account-panel-icon" color="accent">fingerprint</mat-icon>

        </mat-expansion-panel-header>

        <form [formGroup]="credentials">
            <div class="account-row">
                <!--oldPassword-->

                <mat-form-field
                    class="account-input"
                    appearance="outline"
                    floatLabel="auto"
                    hintLabel="Enter your password">

                    <mat-label>{{isNewPassword ? 'Current Password' : 'Password'}}</mat-label>

                    <input
                        formControlName="currentPassword"
                        matInput [type]="hideCurrent ? 'password' : 'text'"
                        placeholder="Your password">

                    <button
                        color="accent"
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="hideCurrent = !hideCurrent">
                        <mat-icon>{{hideCurrent ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="!currentPassword.valid">
                        <span *ngIf="currentPassword.errors.required">This field is required</span>
                    </mat-error>

                </mat-form-field>

                <!--newPassword-->
                <mat-form-field
                    *ngIf="isNewPassword"
                    class="account-input"
                    appearance="outline"
                    floatLabel="auto"
                    hintLabel="Enter your new password">

                    <mat-label>New Password</mat-label>

                    <input
                        formControlName="newPassword"
                        matInput [type]="hideNew ? 'password' : 'text'"
                        placeholder="Your new password">

                    <button
                        color="accent"
                        type="button"
                        mat-icon-button
                        matSuffix
                        (click)="hideNew = !hideNew">

                        <mat-icon>{{hideNew ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>

                    <mat-error *ngIf="!newPassword.valid">
                        <span *ngIf="newPassword.errors?.required">This field is required</span>
                        <span *ngIf="newPassword.errors?.minlength">The password is too short</span>
                        <span *ngIf="newPassword.errors?.maxlength">The password is too long</span>
                    </mat-error>

                </mat-form-field>

                <span class="account-change-pw-container">
                <button
                    type="button"
                    (click)="toggleNewPassword()"
                    class="account-change-pw" mat-flat-button>
                    {{isNewPassword ? 'Cancel' : 'Change Password'}}
                </button>
                </span>
            </div>
            <mat-action-row class="account-divider">
                <div class="account-action-row">
                <!--email-->
                <mat-form-field class="account-input" appearance="outline" floatLabel="auto">
                    <mat-label>Email</mat-label>
                    <input
                        formControlName="email"
                        matInput type="email"
                        placeholder="example@domain.com">

                    <mat-error *ngIf="!email.valid">
                        <span *ngIf="email.errors?.required">This field is required</span>
                        <span *ngIf="email.errors?.email">Invalid email</span>
                        <span *ngIf="email.errors?.uniqueEmail">The email is already taken</span>
                    </mat-error>


                </mat-form-field>
                <mat-spinner
                    *ngIf="email.pending"
                    diameter="30"
                    strokeWidth="2"
                    class="account-spinner"
                    color="accent">
                </mat-spinner>
                </div>
            </mat-action-row>

            <mat-action-row>
                <button [disabled]="(!credentials.valid || saveInProgress || activePanel !== CREDENTIALS)"
                        (click)="saveCredentials()" mat-flat-button color="primary"
                        type="button">
                    Save
                </button>
                <button [disabled]="(saveInProgress || activePanel !== CREDENTIALS)"
                        (click)="cancel(); resetNewPassword();" mat-flat-button
                        type="button">
                    Cancel
                </button>
            </mat-action-row>

        </form>
    </mat-expansion-panel>
</mat-accordion>
