@import "~src/custom-theme";

$primary: map-get($custom-theme, primary);
$accent: map-get($custom-theme, accent);

.account-input {
    margin: 0 16px 16px 0;
    width: 250px;
}

.mat-action-row {
    justify-content: flex-start;
    padding: 16px 0 0 0;
}

.mat-action-row button.mat-button-base, .mat-action-row button.mat-mdc-button-base {
    margin-left: 0;
    margin-right: 8px;
}

.account-divider {
    padding-left: 0;
    padding-right: 0;
    justify-content: flex-start;
}

.account-change-pw {
    color: mat-color($primary);
    height: 40px;
}

.account-change-pw-container {
    margin-top: 8px;
}

.account-change-pw-container > * {
    flex: 0 0 auto;
}

.account-panel-icon {
    user-select: none;
}

.account-panel-title {
    font-weight: 500;
    color: mat-color($accent);
    font-size: 16px;
    padding-top: 1px;
}

.account-row {
    display: flex;
    justify-items: center;
}

.account-action-row {
    display: flex;
    justify-items: center;
    align-items: center;
}

.account-action-row > * {
    display: block;
}

.account-spinner {
    margin: 0 4px;
}

