<form [formGroup]="form">
    <section>
        <mat-form-field id="name" appearance="fill">
            <mat-label>Name</mat-label>
            <input #nameInput formControlName="name" id="nameInput" matInput>
            <mat-hint>The display name of the category</mat-hint>
            <mat-hint align="end">
                {{nameInput.value?.length || 0}}/{{NAME_CHAR_MAX}}
            </mat-hint>
        </mat-form-field>
    </section>
    <section>
        <mat-form-field id="description" appearance="fill">
            <mat-label>Description</mat-label>
            <textarea
                formControlName="description"
                #descriptionInput
                placeholder="Description"
                matInput
                name="description"
                cdkTextareaAutosize></textarea>
            <mat-hint>A brief description about the category</mat-hint>
            <mat-hint align="end">
                {{descriptionInput.value?.length || 0}}/{{DESC_CHAR_MAX}}
            </mat-hint>
        </mat-form-field>
    </section>
    <section class="controls">
        <div *ngIf="mode === ADD_MODE " [@controlsSwitch]>
            <button [disabled]="processing" type="button" mat-flat-button color="primary">
                <div>
                    <mat-icon *ngIf="process !== PROC_SAVE else spinner">add_box</mat-icon>
                    <span>{{process !== PROC_SAVE ? 'Save' : 'Saving...'}}</span>
                </div>
            </button>
            <button [disabled]="processing" type="button" class="align-end" mat-button color="warn">
                <div>
                    <mat-icon>backspace</mat-icon>
                    <span>Discard</span>
                </div>
            </button>
        </div>
        <div *ngIf="mode === EDIT_MODE" [@controlsSwitch]>
            <button [disabled]="processing" type="button" mat-flat-button color="primary">
                <div>
                    <mat-icon *ngIf="process !== PROC_UPDATE else spinner">save</mat-icon>
                    <span>{{process !== PROC_UPDATE ? 'Update' : 'Updating...' }}</span>
                </div>
            </button>
            <button [disabled]="processing" type="button" mat-stroked-button color="accent">
                <mat-icon>settings_backup_restore</mat-icon>
                <span>Revert</span>
            </button>
            <button [disabled]="processing" type="button" class="align-end" mat-button color="warn">
                <div>
                    <mat-icon *ngIf="process !== PROC_DELETE else spinner">delete</mat-icon>
                    <span>{{process !== PROC_DELETE ? 'Delete' : 'Deleting...'}}</span>
                </div>
            </button>
        </div>
    </section>
</form>
<ng-template #spinner>
    <mat-spinner diameter="20" color="accent"></mat-spinner>
</ng-template>
