:host {
    display: block;
}

button:not(:last-child) {
    margin-right: 8px;
}

label {
    display: none;
}

form {
    display: flex;
    flex-direction: column;
    position: relative;
}

form section {
    display: flex;
    margin-bottom: 16px;
}

form section:last-child {
    margin-bottom: 0;
}

mat-form-field#name, mat-form-field#description {
    flex-basis: 240px;
    flex-grow: 1;
}

.controls {
    position: relative;
    height: 36px;
}

.controls div {
    display: flex;
    width: 100%;
}

.align-end {
    margin-left: auto;
}

button div {
    display: flex;
    align-items: center;
}

button mat-icon {
    margin-right: 10px;
}
